/******** COMMON ***********/

.screen {
    min-height: calc(100vh - 100px);
    position: relative;
}

.screen:first-child {
    height: 100vh;
    padding-top: 100px;
}

.screen h1 {
    font-size: 4em;
    margin-top: 10vh;
    position: relative;
    margin-bottom: 50px;
}

.screen h1:after {
    content: '';
    display: block;
    width: 150px;
    height: 5px;
    background-color: #3498db;
    position: absolute;
    left: 0;
    bottom: -20px;
}


/******* HOME ********/
.home {

}

/******* PRESENTATION ********/

.presentation h1 {
    font-size: 4em;
    margin-top: 10vh;
    position: relative;
    margin-bottom: 50px;
}

.presentation h1:after {
    content: '';
    display: block;
    width: 150px;
    height: 5px;
    background-color: #3498db;
    position: absolute;
    left: 0;
    bottom: -20px;
}

.presentation p.text {
    width: 100%;
    font-size: 1.2em;
}

.presentation .card {
    color: #666666;
    display: inline-block;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: 50px 10px 0 10px;
    width: calc(25% - 25px);
    text-align: center;
    background-color: #ebebeb;
    padding: 0 30px 0 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.presentation .card span.icon.img {
    color: white;
    background: #666666;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 2em;
    position: absolute;
    top: -13px;
    left: -13px;
}

.presentation .card h3 {
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 25px;
}

.presentation .card .line {
    width: 50px;
    height: 3px;
    background-color: #666666;
    margin: auto auto 25px;
    transition: 0.3s;
}

.presentation .card p {
    margin-bottom: 80px;
}

.presentation .card span.icon.go {
    color: white;
    background: #666666;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 1.5em;
    position: absolute;
    bottom: -8px;
    right: -8px;
    border: 2px solid transparent;
}

.presentation .card:hover {
    color: black;
}

.presentation .card:hover .line {
    width: 150px;
    background-color: #666666;
}

.presentation .card:hover .line {
    background-color: #3498db;
}

.presentation .card:hover span.icon {
    color: #3498db;
    background-color: #222222;
    border-color: #3498db;
}

/******* TWINS ********/
.twins {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.twins .desc {
    margin-bottom: 20px;
}

.twins .info h3  {
    margin-top: 40px;
    font-size: 1.8em;
}

.twins .info button  {
    font-size: 0.6em;
}

.pc {
    position: relative;
    width: 433px;
    height: 317px;
    margin: auto;
}

.pc canvas {
    position: absolute;
    top: 20px;
    left: 14px;
    background-color: white;
    cursor:pointer;
}

.tablet {
    position: relative;
    width: 219px;
    height: 314px;
    margin: auto;
}

.tablet canvas {
    position: absolute;
    top: 61px;
    left: 15px;
    background-color: white;
    cursor:pointer;
}

/******* ARCHITECTURE ********/
.architecture {

}

/******* DEMO ********/
.demo {

}

.team-member {
    text-align:center;
}