/******** COMMON ***********/

.screen {
    position: relative;
}

.screen:first-child {
    padding-top: 100px;
}

.screen h1 {
    font-size: 4em;
    margin-top: 10vh;
    position: relative;
    margin-bottom: 50px;
}

.screen h1:after {
    content: '';
    display: block;
    width: 150px;
    height: 5px;
    background-color: #3498db;
    position: absolute;
    left: 0;
    bottom: -20px;
}

.screen p.text {
    width: 100%;
    font-size: 1.2em;
}


/******* HOME ********/
.home {

}

/******* PRESENTATION ********/

.presentation h1 {
    font-size: 4em;
    margin-top: 10vh;
    position: relative;
    margin-bottom: 50px;
}

.presentation h1:after {
    content: '';
    display: block;
    width: 150px;
    height: 5px;
    background-color: #3498db;
    position: absolute;
    left: 0;
    bottom: -20px;
}

.presentation .card {
    color: #666666;
    display: inline-block;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: 50px 0 0 0;
    text-align: center;
    background-color: #ebebeb;
    padding: 0 30px 0 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.presentation .card span.icon.img {
    color: white;
    background: #666666;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 2em;
    position: absolute;
    top: -13px;
    left: -13px;
}

.presentation .card h3 {
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 25px;
}

.presentation .card .line {
    width: 50px;
    height: 3px;
    background-color: #666666;
    margin: auto auto 25px;
    transition: 0.3s;
}

.presentation .card p {
    margin-bottom: 80px;
}

.presentation .card span.icon.go {
    color: white;
    background: #666666;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 1.5em;
    position: absolute;
    bottom: -8px;
    right: -8px;
    border: 2px solid transparent;
}

.presentation .card:hover {
    color: black;
}

.presentation .card:hover .line {
    width: 150px;
    background-color: #666666;
}

.presentation .card:hover .line-blue {
    background-color: #3d9fe4;
}

.presentation .card:hover .line-green {
    background-color: #38d079;
}

.presentation .card:hover .line-yellow {
    background-color: #fdae1d;
}

.presentation .card:hover .line-red {
    background-color: #ee5747;
}

.presentation .card:hover span.icon-blue {
    color: #3d9fe4;
    background-color: #222222;
    border-color: #3d9fe4;
}

.presentation .card:hover span.icon-green {
    color: #38d079;
    background-color: #222222;
    border-color: #38d079;
}

.presentation .card:hover span.icon-yellow {
    color: #fdae1d;
    background-color: #222222;
    border-color: #fdae1d;
}

.presentation .card:hover span.icon-red {
    color: #ee5747;
    background-color: #222222;
    border-color: #ee5747;
}

/******* TWINS ********/
.twins {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.twins .desc {
    margin-bottom: 20px;
}

.twins .info h3  {
    margin-top: 40px;
    font-size: 1.8em;
}

.twins .info button  {
    font-size: 0.6em;
}

.pc {
    position: relative;
    width: 433px;
    height: 317px;
    margin: auto;
}

.pc canvas {
    position: absolute;
    top: 20px;
    left: 14px;
    background-color: white;
    cursor:pointer;
}

.tablet {
    position: relative;
    width: 219px;
    height: 314px;
    margin: auto;
}

.tablet canvas {
    position: absolute;
    top: 61px;
    left: 15px;
    background-color: white;
    cursor:pointer;
}


.twins .pc .pc-canvas {
    height:1.5em;
    margin-right:0.5em;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(0deg);
    transition: 0.5s;
    opacity: 1;
    z-index: 5;
}

.twins .pc.code .pc-canvas {
    transform: rotateY(180deg);
    opacity: 0;
}

.twins .pc .pc-code {
    height:1.5em;
    margin-right:0.5em;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(180deg);
    transition: 0.5s;
    opacity: 0;
}

.twins .pc.code .pc-code {
    transform: rotateY(0deg);
    opacity: 1;
}

/******* ARCHITECTURE ********/
.architecture {

}

/******* DEMO ********/

.demo canvas {
    cursor: pointer;
}

.boardWrapper {
    position: relative;
}

.board
{
    position: relative;
    height: 50vh;
    background: white;
    background-image: url('../img/demo/bg.png');
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.board:before, .board:after
{
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    border-radius:100px / 10px;
}
.board:after
{
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
    z-index: 2;
}

.pencils {
    position: absolute;
    top: -60px;
    right: 50px;
    z-index: 0;
}

.pencils img {
    cursor: pointer;
    width: 40px;
    position: relative;
    top: 0;

    transition: top 0.2s;
}

.pencils img.active {
    position: relative;
    top: -15px;
}

.pencils img:hover {
    position: relative;
    top: -15px;
}

.demo .demo_desc {
    margin-top: 20px;
}

/*** TEAM ***/
.team-member {
    text-align:center;
}

.team p.text {
	margin-bottom: 30px;
}